server:
  log_level: info

logs:
  configs:
    - name: default
      clients:
        - url: "{{ loki_url }}"
      positions:
        filename: /tmp/positions.yaml
      static_configs:
{% if custom_log_paths is defined %}
{% for log_path in custom_log_paths %}
        - targets:
            - localhost
          labels:
            job: "{{ inventory_hostname }}"
            __path__: "{{ log_path }}"
{% endfor %}
{% else %}
        - targets:
            - localhost
          labels:
            job: "{{ inventory_hostname }}"
            __path__: "{{ log_path }}"
{% endif %}