server:
  log_level: info

logs:
  configs:
    - name: default
      clients:
        - url: "{{ loki_url }}"
      positions:
        filename: /tmp/positions.yaml
      scrape_configs:
{% if custom_log_paths is defined %}
{% for log_path in custom_log_paths %}
        - job_name: "logs_{{ loop.index }}"
          static_configs:
            - targets:
                - localhost
              labels:
                job: "{{ inventory_hostname }}"
                __path__: "{{ log_path }}"
{% endfor %}
{% else %}
        - job_name: "default_logs"
          static_configs:
            - targets:
                - localhost
              labels:
                job: "{{ inventory_hostname }}"
                __path__: "{{ log_path }}"
{% endif %}